# Tuple Creation

In [1]:
t = () # Empty Tuple

In [2]:
t1 = (1,2,3,4) # Tuple of integers
t2 = (1.1,2.2,3.3,4.4) # Tuple of float 
t3 = ('one', 'two', 'three') # Tuple of string
t4 = (10,'ram', True, 1+2j, 25.5) # Tuple of mixed datatypes

In [3]:
t5 = (10, 20.2, 'ram', (1,2,3), (10, 20)) # Nested truple

In [4]:
t6 = ('ram', 25, [50,100,150], [200,300], {'John', 'David'}, (11,22,33))

In [5]:
len(t6) # Length of tuple

6

# Tuple Indexing

In [6]:
t1[0] # Retreive 1st element of tuple

1

In [7]:
t3[0]

'one'

In [8]:
t3[0][0] # Nested Indexing

'o'

In [9]:
t3[-1] # Retreive last element of tuple

'three'

In [10]:
t5[-1]

(10, 20)

# Tuple Slicing

In [26]:
mytuple = (10, 20, 30, 40, 50, 60, 70, 80)

In [27]:
mytuple[0:3] # Return all item from 0th t0 3rd index (n-1) n = 0, 1, 2, 3...
            # Here n = 3 there for 3-1 = 2

(10, 20, 30)

In [28]:
mytuple[2:5]

(30, 40, 50)

In [29]:
mytuple[:3] # Return 1st three item of tuple

(10, 20, 30)

In [30]:
mytuple[:2]

(10, 20)

In [31]:
mytuple[-3:] # return last three item of tuple

(60, 70, 80)

In [32]:
mytuple[-2:]

(70, 80)

In [33]:
mytuple[:-1]

(10, 20, 30, 40, 50, 60, 70)

In [34]:
mytuple[-1]

80

In [35]:
mytuple[:] # return whole tuple

(10, 20, 30, 40, 50, 60, 70, 80)

# Remove and Change Items

In [36]:
mytuple

(10, 20, 30, 40, 50, 60, 70, 80)

del mytuple[0] # Tuples are immutable which means we cant delete tuple itmes

In [38]:
mytuple[0] = 'one' # Tuples are immutable which means we cant change tuple itmes

TypeError: 'tuple' object does not support item assignment

In [39]:
del mytuple # Deleting entire tuple object is possible

In [40]:
mytuple

NameError: name 'mytuple' is not defined

# Loop through a Tuple

In [41]:
mytuple1 = ('one','two', 'three', 'four')

In [42]:
mytuple1

('one', 'two', 'three', 'four')

In [43]:
for i in mytuple1:
    print(i)

one
two
three
four

In [44]:
for i in enumerate(mytuple1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')

# Tuple Membership

In [45]:
mytuple1

('one', 'two', 'three', 'four')

In [46]:
'one' in mytuple1 # heck if 'one' exist in the mytuple1

True

In [47]:
'six' in mytuple1

False

In [48]:
if 'two' in mytuple1:
    print("Two is present in mytuple1")
else:
    print("Two is not present in mytuple1")

Two is present in mytuple1

In [49]:
if 'seven' in mytuple1:
    print("Seven is present in mytuple1")
else:
    print("Seven is not present in mytuple1")

Seven is not present in mytuple1

# Index Position

In [50]:
mytuple1

('one', 'two', 'three', 'four')

In [51]:
mytuple1.index('one')

0

In [52]:
mytuple1.index('four')

3

# Sorting

In [53]:
mytuple2 = (25,14,55,34,67,87,40)

In [54]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple

[14, 25, 34, 40, 55, 67, 87]

In [55]:
sorted(mytuple2) # Sort in ascending order

[14, 25, 34, 40, 55, 67, 87]

In [56]:
sorted(mytuple2, reverse=True) # Sort in desccending order

[87, 67, 55, 40, 34, 25, 14]

In [57]:
mytuple2.sort()

AttributeError: 'tuple' object has no attribute 'sort'